[user]
  name = Luke Howard
  email = 3931305+binaryluke@users.noreply.github.com

[core]
  excludesfile = ~/.gitignore-global
  pager = delta
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[commit]
  template = ~/.git-commit-template

[http]
  sslVersion = tlsv1.2
  postBuffer = 524288000

[init]
  defaultBranch = main
